<div class="jumbotron">
  <h1 class="display-4">Resumiendo</h1>
  <img src="..\\static\\text-slash-solid.svg" width="60" height="75">
  <p class="lead">Una aplicación web para realizar resúmenes de textos en castellano. Los resúmenes tendrán un 20% de la longitud del original. Para que la aplicación funcione correctamente los textos deben tener una longitud superior a 100 palabras.</p>
  <hr class="my-4">
</div>
<br>
<form method="POST">
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Pega el texto aquí</label><br>
    <br>
<textarea name="text" class="form-control" id="exampleFormControlTextarea1" rows="20" cols="50"></textarea>
  </div>
<br>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>